html{
    color: darkblue;
    background-color: cornflowerblue;
}
html,input{
    font-family: sans-serif;
}
body{
    border: 5px solid chartreuse;
    border-radius: 30px;
    background-color: aquamarine;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}
.headerContainer{
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: cornflowerblue;
    font-weight: bold;
    margin-bottom: 20px;  
    text-shadow: 1.5px 1.5px 1.5px black; 
}
form{
    margin-top: 50px;
}
div{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label,input,button{
    font-size: 16px;
    line-height: 1.5;
}
label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
}
input{
    flex: auto;
}
button{
    width: 70%;
    margin: 0 auto;
}
error-output{
    font-size: 17px;
    font-style: italic;
    color: red;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}